.wrapper {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}

.resultBlock {
  margin: 50px;
}

.resultBlock a {
  text-decoration: NONE;
  color: hsl(229, 25%, 31%);
}
.resultBlock h2 {
  font-family: CustomBold;
  font-size: 50px;
  color: white;
}

.picked p {
  font-family: CustomBold;
  font-size: 20px;
  color: white;
  margin-bottom: 20px;
  margin-left: 30px;
}

.playAgain {
  padding: 10px;
  margin-top: 10px;
  text-align: center;
  border-radius: 10px;
  background-color: white;
  font-family: CustomSemiBold;
}

.paperSide,
.scissorsSide,
.rockSide {
  position: relative;
  width: 180px;
  height: 180px;
  background-color: white;
  border-radius: 50em;
  border: 24px solid;
  box-shadow: 0 0 3px;
}
.paperSide img,
.scissorsSide img,
.rockSide img {
  margin-top: 25px;
  margin-left: 23px;
  width: 80px;
  height: 80px;
}
.paperSide {
  border-color: hsl(230, 89%, 62%);
}
.scissorsSide {
  border-color: hsl(39, 89%, 49%);
}

.rockSide {
  border-color: hsl(349, 71%, 52%);
}
