@font-face {
  font-family: CustomSemiBold;
  src: url('./fonts/BarlowSemiCondensed-SemiBold.ttf');
}
@font-face {
  font-family: CustomBold;
  src: url('./fonts/BarlowSemiCondensed-Bold.ttf');
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: CustomSemiBold;
  background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  background-attachment: fixed;
}
